* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Norse;
    src: url(../Norse-Bold.otf);
}

body {
    display: flex;
}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: wrap;
}

/* Left side */

.image-container {
    background-image: url(./fern.jpg);
    background-position: center;
    background-size: cover;
    flex: 1;
    min-width: 150px;
}

.image-overlay {
    height: auto;
    background-color:rgba(0, 0, 0, 0.5);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    height: calc((10vh + 5vw)/2);
    /* min-height: 100px; */
    color: whitesmoke;
    max-width: 100%;
}

.odin-text {
    font-size: calc((10vh + 5vw)/2);
    color: whitesmoke;
    font-family: Norse, 'Skranji', sans-serif;
    letter-spacing: 0.8 vw;
}

/* Right side */

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 70vw;
}

.filler-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 25px;
    font-family: sans-serif;
    background: whitesmoke;
    justify-content: flex-end;
    padding: calc(2vw + 4vh); /* 40.8px on 1920x1080 */
    padding-bottom: calc((1vh + 1vw) * 2);
    padding-right: 15vw;
    font-weight: 600;
}

.form {
    flex: 1;
    padding: calc(2vw + 4vh) 23vw calc(2vw + 4vh) calc(2vw + 4vh);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px; /* So it does not form more columns */
    /* border: 1px solid black; */
}

form > [class$="-row"] {
    display: flex;
    position: relative;
    margin: 25px 0px 5px 0px; /* Top Right Bottom Left */
}

/* Form Stuff */
/* https://www.silocreativo.com/en/css-rescue-improving-ux-forms/ */

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="password"] {
    border: 1px solid #d8d8d8;
    padding: 24px 24px 5px; /* Top Right/Left Bottom */ /* Adjusts position of the cursor*/
    font-size: 16px;    flex-flow: row wrap;
    font-size: 1rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

:focus {
    outline: 0;
}

/* Label Styles */

label {
    padding: 0px 0px; /* Top/Bottom Right/left */ /* Adjusts position of the label */
    font-size: 14px;
    display: none;
    position: absolute;
    top: 7px; /* in relation to position */
    left: 24px;
    color: #8BC34A;
    -webkit-animation: silo-fade 0.2s;
    -moz-animation: silo-fade 0.2s;
    animation: silo-fade 0.2s;
    max-width: 80%;
}

form input:focus + label,
form input[required]:valid + label,
form input:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:valid + label,
form textarea:not(:placeholder-shown) + label {
    display: block;
}

form input:invalid {
    border: 1px solid #b92326;
    background-color: rgba(185, 35, 38, 0.25);
}

form input:focus:invalid {
    background-color: transparent;
    border: 1px solid #b92326;
}

form input:invalid + label {
    color: #b92326;
}

form input:focus:invalid + label:after {
    content: " (" attr(data-help) ")";
    animation: silo-help 100s;
}

form input:invalid + label:after {
    content: " (" attr(data-help) ")";
}

form input:valid {
    border: 1px solid #8BC34A;
    background-color: rgba(139, 195, 74, 0.25);
}

form input:focus:valid {
    border: 1px solid #8BC34A;
    background-color: transparent;
}

form input:valid + label {
    color: #8BC34A;
}

form input:placeholder-shown {
    background-color: transparent;
    border: 1px solid #d8d8d8;
}

form input::placeholder {
    color: #d8d8d8;
}

form input::-webkit-input-placeholder {
    color: #d8d8d8;
}

form input:-ms-input-placeholder {
    color: #d8d8d8;
}

form input::-moz-placeholder {
    color: #d8d8d8;
}

form input:focus::placeholder {
    color: transparent;
}

form input:focus::-webkit-input-placeholder {
    color: transparent;
}

form input:focus:-ms-input-placeholder {
    color: transparent;
}

form input:focus::-moz-placeholder {
    color: transparent;
}

/* Animations */

@-webkit-keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes silo-fade {
    0% {
        opacity: 0;
        -moz-transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes silo-fade {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1.4em);
        -moz-transform: translateY(-1.4em);
        -ms-transform: translateY(-1.4em);
        -o-transform: translateY(-1.4em);
        transform: translateY(-1.4em);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes silo-help {
    0% {
        opacity: 0;
    }
    4% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* Password verification */

#message {
    /* display: none; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    max-width: 1000px;

    
}

#password-requirements {
    align-items: center;
    flex-direction: column;
    position: absolute;
}

#password-requirements > div { /* #req */
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    gap: 10px;
    display: none;
    -webkit-animation: silo-fade 0.2s;
    -moz-animation: silo-fade 0.2s;
    animation: silo-fade 0.2s;
}

#password-match {
    justify-content: center;
    position: absolute;
}

#password-match > p { /* #match */
    display: none;
    padding-left: 5px;
    -webkit-animation: silo-fade 0.2s;
    -moz-animation: silo-fade 0.2s;
    animation: silo-fade 0.2s;
}

#password-match,
#password-requirements {
    flex: 1;
    display: flex;
}

#message p {
    font-size: 13px;
}

.valid {
    color: #8BC34A;
}

.valid:before {
    position: relative;
    left: -3px;
    content: "✔";
  }

.invalid {
    color: rgba(185, 35, 38);
}

.invalid:before {
    position: relative;
    left: -3px;
    content: "✖";
}

/* Button stuff */

.sign-up {

    background: whitesmoke;
    padding: calc(1vw + 2vh) calc(2vw + 4vh);
}

.sign-up > input {
    margin-bottom: 2vh;
    background-color: #596D48;
    color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    font-size: 26px;
    padding: 10px 50px;
    border-style: inset;
}

.sign-up > input:hover {
    background-color: #283d15;
    transition: 0.5s;
}

.sign-up > input:active {
    background-color: green;
    border-style: outset;
}

.sign-up > p {
    font-size: 20px;
}

/* Small screen */

@media (max-width: 499px) {
    .image-overlay {
        position: static; 
    }
}
