* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Norse;
    src: url(../Norse-Bold.otf);
}

body {
    display: flex;
}

.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.image-container {
    background-image: url(./fern.jpg);
    background-position: center;
    background-size: cover;
    flex: 1;
}

.image-overlay {
    display: flex;
    align-items: center;
    position: relative;
    top: 20vh;
    justify-content: center;
    gap: 1rem;
    background-color:rgba(0, 0, 0, 0.5);
    padding: 2vh;
    height: auto;
}

.logo {
    height: 15vh;
    color: whitesmoke;
    max-width: 100%;
}

.odin-text {
    font-size: 13vh;
    color: whitesmoke;
    font-family: Norse, sans-serif;
    letter-spacing: 0.5rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 70vw;
}

.filler-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 25px;
    font-family: sans-serif;
    background: whitesmoke;
    justify-content: flex-end;
    padding: 40px;
    font-weight: 600;
}

.form {
    flex: 1;
}

.sign-up {
    flex: 1;
    background: whitesmoke;
}
